{% extends "layout.html" %}
{% set active_page = 'blog' %}
{% block title %}
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

  <title>zuBu | Blog</title>
{% endblock %}

{% block body %}
  <div class="post">
    <h2>{{ first.title }}</h2>
    <div class="post-body">
      {{ first.body |safe}}
    <div>
    <div class="pubdate"><small>Posted on {{ first.pub_date.strftime('%Y-%m-%d') }}</small></div>
  </div>
  <div class="col-md-6 prevposts">
    <div class="panel panel-default">
      <div class="panel-heading">Older Posts</div>
        <table class="table">
         <tbody>
          {% if posts %}
            {% for post in posts %}
            <tr>
              <td>{{ post.pub_date.strftime('%Y-%m-%d') }}</td>
              <td><a href="{{ url_for('view_post', post_id = post.id) }}">{{ post.title }}</a></td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}