{% extends "layout.html" %}

{% block title %}
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
  <title>{{ action }} Post</title>
{% endblock %}

{% block body %}

  <div class="nav" align="center" style="margin-top: 15%"><a href="{{ url_for('index') }}">Home</a> | <b>Blog</b> | <a href="{{ url_for('about') }}">About</a>
  </div>
<div class="col-md-10">
<section>
  <form class="well" action="{{ form_action }}" method="{{ method | d("POST") }}">
    <div class="row">
      {{ form.title(class_="form-group",placeholder="Title") }}
    </div>
    <div class="row">
      {{ form.body(class_="form-group", placeholder="Body", cols="120", rows="30") }}
    </div>
    <div class="row">
      {{ form.category }}
    </div>
    <div class="btn-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Publish</button>
    </div>
</div>
  </form>
</section>

{% endblock %}