

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    {% block title %}
      <title>Your page title here :)</title>
    {% endblock %}
  </head>

  <body>
    <div class="container">
      {% block menu %}
        <div class="menu">
        {% set navigation_bar = [('index', 'Home'),('blog','Blog'),('research','Research'),('about','About')] %}
        {% set active_page = active_page|default('index') -%}
          {% for id, caption in navigation_bar %}
            <li {% if id == active_page %}class="active"{% endif %}>
               <a href="{{ url_for(id) }}">{{ caption|e }}</a> {% if not loop.index == navigation_bar | length %} |{% endif %}
            </li>
          {% endfor %}
        </div>
      {% endblock %}

      {% block body %}
      {% endblock %}
    </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
